@font-face {
  font-family: 'WorkSans_400';
  src: url(/assets/fonts/static/WorkSans-Regular.ttf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'WorkSans_600';
  src: url(/assets/fonts/static/WorkSans-SemiBold.ttf);
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'WorkSans_700';
  src: url(/assets/fonts/static/WorkSans-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

:root {
  --white: #ffffff;
  --light-pink: #f9f0ff;
  --grayish-purple: #8c6991;
  --dark-purple: #2f1533;

  --ff400: 'WorkSans_400';
  --ff600: 'WorkSans_600';
  --ff700: 'WorkSans_700';
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--ff400), sans-serif;
  background-color: var(--light-pink);
  background-image: url(/assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 2em;
}

.card__title-container {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.card__title {
  font-size: 3rem;
  font-family: var(--ff700), sans-serif;
  color: var(--dark-purple);
}

.card {
  display: grid;
  gap: 1rem;
  max-width: 31.25rem;
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 15px;
  box-shadow: 0px 0px 3px var(--dark-purple);
  margin: 5em auto;
  box-shadow: -7px 0px 15px 0px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

summary::before {
  order: 2;
  padding: 0 1em;
  content: url(/assets/images/icon-plus.svg);
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  list-style: none;
  color: var(--dark-purple);
  font-family: var(--ff600), sans-serif;
}

summary:is(:hover, :focus, :active) {
  cursor: pointer;

}

summary:hover {
  color: var(--grayish-purple);
}

details[open]>summary::before {
  color: var(--dark-purple);
  content: url(/assets/images/icon-minus.svg);
  order: 2;
}

details[open]>summary {
  background-color: var(--light-pink);
  color: var(--dark-purple);
}

details[open] {
  border-bottom: 1px solid rgba(140, 105, 145, 0.379);
  padding-bottom: .5em;
}

details[open]:last-of-type {
  border-bottom: none;
}

details>p {
  padding: 1em 2em;
  line-height: 1.5;
  color: var(--grayish-purple);
}

footer {
  text-align: center;
}

@media screen and (min-width: 23.125rem) {
  body {
    background-image: url(/assets/images/background-pattern-desktop.svg);
  }
}